* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}

#learnMore {
  display:block;
  margin: 0;
  background: transparent;
  color: black;
  font-size: 24px;
  font-family: Rubik;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

/* Hover effect for the button */
#learnMore:hover {
  text-decoration:underline;
  color: rgba(109,120,99,1);
}

.habitat {
  position: relative;
  margin-top: -80px;
  margin-left: 15px;
}

.v98_1943 {
  width: 100%;
  height: 982px;
  background: linear-gradient(rgba(124,174,75,0.11999999731779099), rgba(124,174,75,0.5));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v98_1945 {
  width: 207px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 46px;
  left: 55px;
  font-family: Rubik;
  font-weight: SemiBold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}

.v98_1945 img {
  width: 207px;
  position: absolute;
  top: 46px;
  left: 55px;
  font-size: 48px;
  opacity: 1;
  align-items: left;
}
.v98_1959 {
  width: 68px;
  height: 67px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 262px;
  overflow: hidden;
}
.v98_1960 {
  width: 53px;
  height: 44px;
  background: rgba(141,110,99,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 8px;
}
.v98_1961 {
  width: 49px;
  height: 44px;
  background: rgba(0,0,0,1);
  opacity: 0.30000001192092896;
  position: absolute;
  top: 11px;
  left: 8px;
}
.v98_2280 {
  width: 300px;
  font-family: Rubik Bubbles;
  color: rgba(61,83,39,1);
  position: absolute;
  top: 210px;
  left: 985px;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}

.hidePranav {
  display: none;
  width: 228px;
  color: rgba(124,174,75,1);
  position: absolute;
  top: 210px;
  left: 985px;
  font-family: Rubik;
  font-weight: SemiBold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}

.v98_2281 {
  width: 209px;
  color: rgba(109,120,99,1);
  position: absolute;
  top: 307px;
  left: 988px;
  font-family: Rubik;
  font-weight: ExtraBold Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.hidePranavWho {
  display: none;
  width: 209px;
  color: rgba(109,120,99,1);
  position: absolute;
  top: 307px;
  left: 988px;
  font-family: Rubik;
  font-weight: ExtraBold Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.v98_2282 {
  width: 365px;
  color: rgba(109,120,99,1);
  position: absolute;
  top: 520px;
  left: 987px;
  font-family: Rubik;
  font-weight: ExtraBold Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.hidePranavWhy {
  display: none;
  width: 365px;
  color: rgba(109,120,99,1);
  position: absolute;
  top: 520px;
  left: 987px;
  font-family: Rubik;
  font-weight: ExtraBold Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}


.v98_2283 {
  width: 50px;
  height: 40px;
  background: url("../images/v98_2283.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 377px;
  left: 607px;
  overflow: hidden;
}
.v98_2284 {
  width: 40px;
  height: 31px;
  background: url("../images/v98_2284.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 455px;
  left: 428px;
  overflow: hidden;
}
.v98_2285 {
  width: 50px;
  height: 40px;
  background: url("../images/v98_2285.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 703px;
  left: 333px;
  overflow: hidden;
}
.v98_2286 {
  width: 40px;
  height: 31px;
  background: url("../images/v98_2286.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 592px;
  left: 530px;
  overflow: hidden;
}
.v98_2287 {
  width: 365px;
  color: rgba(109,120,99,1);
  position: absolute;
  top: 369px;
  left: 987px;
  font-family: Rubik;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v98_2288 {
  width: 410px;
  color: rgba(109,120,99,1);
  position: absolute;
  top: 577px;
  left: 987px;
  font-family: Rubik;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v98_2289 {
  width: 382px;
  color: rgba(109,120,99,1);
  position: absolute;
  top: 701px;
  left: 988px;
  font-family: Rubik;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v98_2290 {
  width: 178px;
  height: 178px;
  background: url("../images/v98_2290.png");
  background-size: 180px;
  opacity: 1;
  position: absolute;
  top: 263px;
  left: 359px;
  border-radius: 100%;
  cursor: pointer;
}



.v98_2291 {
  width: 179px;
  height: 179px;
  background: url("../images/v98_2291.png");
  background-size: 180px;
  opacity: 1;
  position: absolute;
  top: 439px;
  left: 550px;
  border-radius: 50%;
}


.v98_2292 {
  width: 178px;
  height: 179px;
  background: url("../images/v98_2292.png");
  background-size: 180px;
  opacity: 1;
  position: absolute;
  top: 508px;
  left: 264px;
  border-radius: 50%;
}
.v98_2293 {
  width: 179px;
  height: 179px;
  background: url("../images/v98_2293.png");
  background-size: 180px;
  opacity: 1;
  position: absolute;
  top: 640px;
  left: 460px;
  border-radius: 50%;
}
.v347_70 {
  width: 118px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 63px;
  left: 1080px;
  font-family: Rubik;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

#aboutButton {
  display:block;
  margin: 0;
  background: transparent;
  color: black;
  font-size: 24px;
  font-family: Rubik;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

/* Hover effect for the button */
#aboutButton:hover {
  text-decoration:underline;
  color: rgba(109,120,99,1);
}

#homeButton {
  display:block;
  margin: 0;
  background: transparent;
  color: black;
  font-size: 24px;
  font-family: Rubik;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

/* Hover effect for the button */
#homeButton:hover {
  text-decoration:underline;
  color: rgba(109,120,99,1);
}

#surveyButton {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: rgba(109,120,99,1);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

/* Hover effect for the button */
#surveyButton:hover {
  background-color: rgba(109,120,99,1);
}

#resultsButton {
  display:block;
  margin: 0;
  background: transparent;
  color: black;
  font-size: 24px;
  font-family: Rubik;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

/* Hover effect for the button */
#resultsButton:hover {
  text-decoration:underline;
  color: rgba(109,120,99,1);
}

.v347_72 {
  width: 73px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 63px;
  left: 977px;
  font-family: Rubik;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v347_74 {
  width: 90px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 63px;
  left: 1228px;
  font-family: Rubik;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v347_76 {
  width: 98px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 63px;
  left: 1332px;
  font-family: Rubik;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v347_78 {
  width: 84px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 63px;
  left: 1346px;
  font-family: Rubik;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}

.firstPopup {
  width: 400px; 
  height: 500px;
  background: #fff; 
  border-radius: 6px; 
  position: absolute;
  top:40%;
  left: 80%;
  transform: translate(-50%, -50%) scale(0.1); 
  text-align: center;
  padding: 0 30px 30px; 
  color: #333; 
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.firstPopup p {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.firstPopup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0; 
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px; 
  border-radius: 4px;
  cursor: pointer; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.secondPopup {
  width: 400px; 
  height: 500px;
  background: #fff; 
  border-radius: 6px; 
  position: absolute;
  top:40%;
  left: 80%;
  transform: translate(-50%, -50%) scale(0.1); 
  text-align: center;
  padding: 0 30px 30px; 
  color: #333; 
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.secondPopup p {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.secondPopup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0; 
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px; 
  border-radius: 4px;
  cursor: pointer; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.open-popup {
  visibility: visible;
  top: 50%; 
  transform: translate(-50%, -50%) scale(1);
}