* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-size: 14px;
  overflow-x: hidden;
}

.v791_10 {
  width: 100%;
  height: 8700px;
  background: linear-gradient(rgba(124,174,75,0.11999999731779099), rgba(124,174,75,0.5));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v791_11 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1047px;
  overflow: hidden;
}
.v791_221 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 793px;
  left: 1047px;
  overflow: hidden;
  perspective: 1000px;
  transition: transform 1s;
}
.v791_12 {
  width: 207px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 46px;
  left: 55px;
  font-family: Rubik;
  font-weight: SemiBold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v791_19 {
  width: 68px;
  height: 67px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 262px;
  overflow: hidden;
}
.v791_20 {
  width: 53px;
  height: 44px;
  background: rgba(141,110,99,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 8px;
}
.v791_21 {
  width: 49px;
  height: 44px;
  background: rgba(0,0,0,1);
  opacity: 0.30000001192092896;
  position: absolute;
  top: 11px;
  left: 8px;
}
.v791_22 {
  width: 282px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 199px;
  left: 184px;
  font-family: Rubik;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v791_80 {
  width: 325px;
  height: 318px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 535px;
  left: 184px;
  overflow: hidden;
}
.v791_81 {
  width: 325px;
  height: 318px;
  background: url("../images/art.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0.47130101919174194, 0.5, 0.4437499940395355, 0.10000000149011612);
  overflow: hidden;
}
.v791_82 {
  width: 226px;
  height: 107px;
  background: url("../images/v791_82.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 101px;
  left: 55px;
  overflow: hidden;
}
.v791_83 {
  width: 215px;
  height: 107px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 5px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v791_217 {
  width: 226px;
  position: absolute;
  top: 24px;
  left: 0px;
  font-family: Rubik;
  font-weight: ExtraBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v791_85 {
  width: 93px;
  position: absolute;
  top: 57px;
  left: 25px;
  font-family: Rubik;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v791_86 {
  width: 76px;
  color: rgba(129,129,129,1);
  position: absolute;
  top: 56px;
  left: 125px;
  font-family: Rubik;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v791_222 {
  width: 325px;
  height: 318px;
  background: url("../images/v791_222.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1328px;
  left: 184px;
  overflow: hidden;
}
.v791_223 {
  width: 325px;
  height: 318px;
  background: url("../images/art.png");  
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0.47130101919174194, 0.5, 0.4437499940395355, 0.10000000149011612);
  overflow: hidden;
}
.v791_224 {
  width: 250px;
  height: 107px;
  background: url("../images/v791_224.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 101px;
  left: 55px;
  overflow: hidden;
}

.v791_224_2 {
  width: 250px;
  height: 350px;
  background: url("../images/v791_224.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 55px;
  overflow: hidden;
}

.v791_225 {
  width: 500px;
  height: 107px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  right: 5px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}



.v791_226 {
  width: 226px;
  height: 100px;
  position: absolute;
  top: 24px;
  left: 0px;
  font-family: Rubik;
  font-weight: ExtraBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}

.v791_226_2 {
  width: 226px;
  height: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Rubik;
  font-weight: ExtraBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
  color: white;
}

.v791_227 {
  width: 93px;
  color: rgba(129,129,129,1);
  position: absolute;
  top: 57px;
  left: 25px;
  font-family: Rubik;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v791_228 {
  width: 76px;
  color: rgba(129,129,129,1);
  position: absolute;
  top: 56px;
  left: 125px;
  font-family: Rubik;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v791_24509 {
  width: 325px;
  height: 318px;
  background: url("../images/v791_24509.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1723px;
  left: 184px;
  overflow: hidden;
}
.v791_24510 {
  width: 325px;
  height: 318px;
  background: url("../images/thrift.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0.47130101919174194, 0.5, 0.4437499940395355, 0.10000000149011612);
  overflow: hidden;
}
.v791_24511 {
  width: 226px;
  height: 107px;
  background: url("../images/v791_24511.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 101px;
  left: 55px;
  overflow: hidden;
}
.v791_24512 {
  width: 215px;
  height: 107px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 5px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v791_24513 {
  width: 226px;
  position: absolute;
  top: 24px;
  left: 0px;
  font-family: Rubik;
  font-weight: ExtraBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v791_24514 {
  width: 93px;
  color: rgba(129,129,129,1);
  position: absolute;
  top: 57px;
  left: 25px;
  font-family: Rubik;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v791_24515 {
  width: 76px;
  color: rgba(129,129,129,1);
  position: absolute;
  top: 56px;
  left: 125px;
  font-family: Rubik;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v791_87 {
  width: 325px;
  height: 318px;
  background: url("../images/v791_87.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 533px;
  left: 594px;
  overflow: hidden;
}
.v791_88 {
  width: 325px;
  height: 318px;
  background: url("../images/eco.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0.47130101919174194, 0.5, 0.4437499940395355, 0.10000000149011612);
  overflow: hidden;
}
.v791_89 {
  width: 215px;
  height: 121px;
  background: url("../images/v791_89.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 98px;
  left: 61px;
  overflow: hidden;
}
.v791_90 {
  width: 215px;
  height: 121px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v791_91 {
  width: 211px;
  position: absolute;
  top: 24px;
  left: 2px;
  font-family: Rubik;
  font-weight: ExtraBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v791_92 {
  width: 93px;
  color: rgba(129,129,129,1);
  position: absolute;
  top: 80px;
  left: 19px;
  font-family: Rubik;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v791_93 {
  width: 76px;
  color: rgba(129,129,129,1);
  position: absolute;
  top: 79px;
  left: 119px;
  font-family: Rubik;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v791_229 {
  width: 325px;
  height: 318px;
  background: url("../images/v791_229.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1326px;
  left: 594px;
  overflow: hidden;
}
.v791_230 {
  width: 325px;
  height: 318px;
  background: url("../images/eco.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0.47130101919174194, 0.5, 0.4437499940395355, 0.10000000149011612);
  overflow: hidden;
}
.v791_231 {
  width: 215px;
  height: 121px;
  background: url("../images/v791_231.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 98px;
  left: 61px;
  overflow: hidden;
}
.v791_232 {
  width: 215px;
  height: 121px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v791_233 {
  width: 211px;
  position: absolute;
  top: 24px;
  left: 2px;
  font-family: Rubik;
  font-weight: ExtraBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v791_234 {
  width: 93px;
  color: rgba(129,129,129,1);
  position: absolute;
  top: 80px;
  left: 19px;
  font-family: Rubik;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v791_235 {
  width: 76px;
  color: rgba(129,129,129,1);
  position: absolute;
  top: 79px;
  left: 119px;
  font-family: Rubik;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v791_24516 {
  width: 325px;
  height: 318px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2118px;
  left: 184px;
  overflow: visible;
}
.v791_24517 {
  width: 325px;
  height: 318px;
  background: url("../images/running.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0.47130101919174194, 0.5, 0.4437499940395355, 0.10000000149011612);
  overflow: hidden;
}
.v791_24518 {
  width: 215px;
  height: 121px;
  background: url("../images/v791_24518.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 98px;
  left: 61px;
  overflow: hidden;
}
.v791_24519 {
  width: 215px;
  height: 121px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v791_24520 {
  width: 211px;
  position: absolute;
  top: 24px;
  left: 2px;
  font-family: Rubik;
  font-weight: ExtraBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v791_24521 {
  width: 93px;
  color: rgba(129,129,129,1);
  position: absolute;
  top: 80px;
  left: 19px;
  font-family: Rubik;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v791_24522 {
  width: 76px;
  color: rgba(129,129,129,1);
  position: absolute;
  top: 79px;
  left: 119px;
  font-family: Rubik;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v791_94 {
  width: 325px;
  height: 318px;
  background: url("../images/v791_94.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 531px;
  left: 1004px;
  overflow: hidden;
}
.v791_95 {
  width: 325px;
  height: 318px;
  background: url("../images/sustainable.jpeg");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0.47130101919174194, 0.5, 0.4437499940395355, 0.10000000149011612);
  overflow: hidden;
}
.v791_96 {
  width: 226px;
  height: 107px;
  background: url("../images/v791_96.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 103px;
  left: 55px;
  overflow: hidden;
}
.v791_97 {
  width: 215px;
  height: 107px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 6px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v791_98 {
  width: 226px;
  position: absolute;
  top: 24px;
  left: 0px;
  font-family: Rubik;
  font-weight: ExtraBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v791_99 {
  width: 93px;
  color: rgba(129,129,129,1);
  position: absolute;
  top: 57px;
  left: 25px;
  font-family: Rubik;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v791_100 {
  width: 76px;
  color: rgba(129,129,129,1);
  position: absolute;
  top: 56px;
  left: 125px;
  font-family: Rubik;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v791_236 {
  width: 325px;
  height: 318px;
  background: url("../images/v791_236.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1324px;
  left: 1004px;
  overflow: hidden;
}
.v791_237 {
  width: 325px;
  height: 318px;
  background: url("../images/sustainable.jpeg");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0.47130101919174194, 0.5, 0.4437499940395355, 0.10000000149011612);
  overflow: hidden;
}

.v791_237_1 {
  width: 325px;
  height: 318px;
  background: url("../images/sustainable.jpeg");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0.47130101919174194, 0.5, 0.4437499940395355, 0.10000000149011612);
  overflow: hidden;
}

.v791_238 {
  width: 226px;
  height: 107px;
  background: url("../images/v791_238.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 103px;
  left: 55px;
  overflow: hidden;
}
.v791_239 {
  width: 215px;
  height: 107px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 6px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v791_240 {
  width: 226px;
  position: absolute;
  top: 24px;
  left: 0px;
  font-family: Rubik;
  font-weight: ExtraBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v791_241 {
  width: 226px;
  height: 100px;
  position: absolute;
  top: 24px;
  left: 0px;
  font-family: Rubik;
  font-weight: ExtraBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v791_242 {
  width: 76px;
  color: rgba(129,129,129,1);
  position: absolute;
  top: 56px;
  left: 125px;
  font-family: Rubik;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v791_24523 {
  width: 325px;
  height: 318px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2118px;
  left: 594px;
  overflow: visible;
}
.v791_24524 {
  width: 325px;
  height: 318px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0.47130101919174194, 0.5, 0.4437499940395355, 0.10000000149011612);
  overflow: hidden;
}
.v791_24525 {
  width: 226px;
  height: 107px;
  background: url("../images/v791_24525.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 103px;
  left: 55px;
  overflow: hidden;
}
.v791_24526 {
  width: 215px;
  height: 107px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 6px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v791_24527 {
  width: 226px;
  position: absolute;
  top: 24px;
  left: 0px;
  font-family: Rubik;
  font-weight: ExtraBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v791_24528 {
  width: 93px;
  color: rgba(129,129,129,1);
  position: absolute;
  top: 57px;
  left: 25px;
  font-family: Rubik;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v791_24529 {
  width: 76px;
  color: rgba(129,129,129,1);
  position: absolute;
  top: 56px;
  left: 125px;
  font-family: Rubik;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v791_108 {
  width: 100%;
  height: 407px;
  background: url("../images/v791_108.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 926px;
  left: 184px;
  overflow: hidden;
}
.v791_218 {
  width: 325px;
  height: 318px;
  background: url("../images/v791_218.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  overflow: hidden;
}
.v791_68 {
  width: 325px;
  height: 318px;
  background: url("../images/vegan.jpeg");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0.47130101919174194, 0.5, 0.4437499940395355, 0.10000000149011612);
  overflow: hidden;
}
.v791_109 {
  width: 215px;
  height: 107px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 105px;
  left: 55px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v791_113 {
  width: 226px;
  position: absolute;
  top: 129px;
  left: 50px;
  font-family: Rubik;
  font-weight: ExtraBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v791_117 {
  width: 93px;
  color: rgba(129,129,129,1);
  position: absolute;
  top: 162px;
  left: 75px;
  font-family: Rubik;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v791_121 {
  width: 76px;
  color: rgba(129,129,129,1);
  position: absolute;
  top: 161px;
  left: 175px;
  font-family: Rubik;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v791_219 {
  width: 325px;
  height: 318px;
  background: url("../images/v791_219.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 410px;
  overflow: hidden;
}
.v791_69 {
  width: 325px;
  height: 318px;
  background: url("../images/lifiting.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0.47130101919174194, 0.5, 0.4437499940395355, 0.10000000149011612);
  overflow: hidden;
}
.v791_110 {
  width: 215px;
  height: 111px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 103px;
  left: 55px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v791_114 {
  width: 201px;
  position: absolute;
  top: 125px;
  left: 62px;
  font-family: Rubik;
  font-weight: ExtraBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v791_118 {
  width: 93px;
  color: rgba(129,129,129,1);
  position: absolute;
  top: 178px;
  left: 75px;
  font-family: Rubik;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v791_122 {
  width: 76px;
  color: rgba(129,129,129,1);
  position: absolute;
  top: 177px;
  left: 175px;
  font-family: Rubik;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v791_220 {
  width: 325px;
  height: 318px;
  background: url("../images/v791_24516.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1721px;
  left: 594px;
  overflow: hidden;
}
.v791_70 {
  width: 325px;
  height: 318px;
  background: url("../images/asianVeg.webp");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0.47130101919174194, 0.5, 0.4437499940395355, 0.10000000149011612);
  overflow: hidden;
}
.v791_111 {
  width: 215px;
  height: 111px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 103px;
  left: 55px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v791_115 {
  width: 201px;
  position: absolute;
  top: 125px;
  left: 62px;
  font-family: Rubik;
  font-weight: ExtraBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v791_119 {
  width: 93px;
  color: rgba(129,129,129,1);
  position: absolute;
  top: 178px;
  left: 75px;
  font-family: Rubik;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v791_123 {
  width: 76px;
  color: rgba(129,129,129,1);
  position: absolute;
  top: 177px;
  left: 175px;
  font-family: Rubik;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v791_124 {
  width: 76px;
  color: rgba(129,129,129,1);
  position: absolute;
  top: 393px;
  left: 1336px;
  font-family: Rubik;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v791_159 {
  width: 259px;
  height: 40px;
  background: url("../images/v791_159.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 420px;
  left: 732px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
}
.v791_213 {
  width: 19px;
  height: 19px;
  background: url("../images/v791_213.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 21px;
  overflow: hidden;
}
.v791_160 {
  width: 62px;
  height: 32px;
  background: url("../images/v791_160.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 6px 0px;
  margin: -72px;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 40px;
  overflow: hidden;
}
.v791_196 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  overflow: hidden;
}
.v791_162 {
  width: 53px;
  color: rgba(106,108,106,1);
  position: absolute;
  top: 6px;
  left: 4px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v791_164 {
  width: 400px;
  height: 200px;
  background: url("../images/v791_164.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 420px;
  left: 1005px;
  border-top-left-radius: px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v791_165 {
  width: 108px;
  height: 32px;
  background: url("../images/v791_165.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 6px 0px;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 25px;
  overflow: hidden;
}
.v791_167 {
  width: 50px;
  color: rgba(106,108,106,1);
  position: absolute;
  top: 6px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v791_214 {
  width: 18px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 82px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v791_169 {
  width: 300px;
  height: 400px;
  background: url("../images/v791_169.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 430px;
  left: 1210px;
  border-top-left-radius: 0px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v791_170 {
  width: 121px;
  height: 32px;
  background: url("../images/v791_170.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 6px 8px;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 21px;
  overflow: hidden;
}
.v791_172 {
  width: 55px;
  color: rgba(106,108,106,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v791_264 {
  width: 100%;
  height: 111px;
  background: url("../images/v791_264.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 269px;
  left: 90px;
  overflow: hidden;
}
.v791_263 {
  width: 95%;
  height: 111px;
  background: rgba(124,174,75,0.05000000074505806);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  overflow: hidden;
}
.v791_23 {
  width: 90%;
  color: rgba(0,0,0,0.6399999856948853);
  position: absolute;
  top: 22px;
  left: 28px;
  font-family: Rubik;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v791_415 {
  width: 118px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 63px;
  left: 1080px;
  font-family: Rubik;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v791_416 {
  width: 73px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 63px;
  left: 977px;
  font-family: Rubik;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v791_417 {
  width: 74px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 63px;
  left: 1228px;
  font-family: Rubik;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v791_418 {
  width: 84px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 63px;
  left: 1332px;
  font-family: Rubik;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v791_419 {
  width: 74px;
  background: url("../images/v791_419.png");
  opacity: 1;
  position: absolute;
  top: 93px;
  left: 1227px;
  border: 4px solid rgba(124,174,76,1);
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

input[type=text] {
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

button[type=submit] {
  padding: 10px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

button[type=submit]:hover {
  background-color: gray;
}

.sort-by-container {
  align-items: center;
  margin-top: 10px;
}

label {
  margin-right: 10px;
  font-weight: bold;
  width: fit-content;
}

select {
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

select:focus {
  outline: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3), 0 0 3px 2px rgba(0, 123, 255, 0.5);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background-color: gray;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 10px;
}

.options label {
  display: block;
}

.options input[type="checkbox"] {
  margin-right: 5px;
  cursor: pointer;
}

.dropdown-btn:hover {
  background-color: darkgray;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-btn {
  background-color: darkgray;
}

#aboutButton {
  display:block;
  margin: 0;
  background: transparent;
  color: black;
  font-size: 24px;
  font-family: Rubik;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

/* Hover effect for the button */
#aboutButton:hover {
  text-decoration:underline;
  color: rgba(109,120,99,1);
}

#homeButton {
  display:block;
  margin: 0;
  background: transparent;
  color: black;
  font-size: 24px;
  font-family: Rubik;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

/* Hover effect for the button */
#homeButton:hover {
  text-decoration:underline;
  color: rgba(109,120,99,1);
}

#guideButton {
  display:block;
  margin: 0;
  background: transparent;
  color: black;
  font-size: 24px;
  font-family: Rubik;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

/* Hover effect for the button */
#guideButton:hover {
  text-decoration:underline;
  color: rgba(109,120,99,1);
}

#learnMore {
  display:block;
  margin: 0;
  background: transparent;
  color: black;
  font-size: 24px;
  font-family: Rubik;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

/* flip card container */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

/* flip card front and back */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* flip card front */
.flip-card-front {
  background-color: #fff;
}

/* flip card back */
.flip-card-back {
  background-color: #2AAA8A;
  transform: rotateY(180deg);
}

/* text on the white background */
.testing {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  display: inline-block;
  margin-top: 50%;
  transform: translateY(-50%);
}

/* card content */
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* flip the card when clicked */
.flipped {
  transform: rotateY(180deg);
}

.v1 {
  width: 325px;
  height: 318px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2515px;
  left: 184px;
  overflow: visible;
}

.v2 {
  width: 325px;
  height: 318px;
  background: url("../images/reading.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0.47130101919174194, 0.5, 0.4437499940395355, 0.10000000149011612);
  overflow: visible;
}

.v2_2 {
  width: 325px;
  height: 318px;
  background: url("../images/music.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0.47130101919174194, 0.5, 0.4437499940395355, 0.10000000149011612);
  overflow: visible;
}

.v2_3 {
  width: 325px;
  height: 318px;
  background: url("../images/makeup.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0.47130101919174194, 0.5, 0.4437499940395355, 0.10000000149011612);
  overflow: visible;
}

.v2_4 {
  width: 325px;
  height: 318px;
  background: url("../images/fashion.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0.47130101919174194, 0.5, 0.4437499940395355, 0.10000000149011612);
  overflow: visible;
}

.v2_5 {
  width: 325px;
  height: 318px;
  background: url("../images/skiing.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0.47130101919174194, 0.5, 0.4437499940395355, 0.10000000149011612);
  overflow: visible;
}

.v2_6 {
  width: 325px;
  height: 318px;
  background: url("../images/food.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0.47130101919174194, 0.5, 0.4437499940395355, 0.10000000149011612);
  overflow: visible;
}

.v2_7 {
  width: 325px;
  height: 318px;
  background: url("../images/hiking.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0.47130101919174194, 0.5, 0.4437499940395355, 0.10000000149011612);
  overflow: visible;
}

.v2_9 {
  width: 325px;
  height: 318px;
  background: url("../images/performing-arts.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0.47130101919174194, 0.5, 0.4437499940395355, 0.10000000149011612);
  overflow: visible;
}

.v2_10 {
  width: 325px;
  height: 318px;
  background: url("../images/sports.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0.47130101919174194, 0.5, 0.4437499940395355, 0.10000000149011612);
  overflow: visible;
}

.v3 {
  width: 215px;
  height: 111px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 103px;
  left: 55px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}

.v4 {
  width: 325px;
  height: 318px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2515px;
  left: 594px;
  overflow: visible;
}

.v5 {
  width: 325px;
  height: 318px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2515px;
  left: 1004px;
  overflow: visible;
}

.v6 {
  width: 325px;
  height: 318px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2912px;
  left: 184px;
  overflow: visible;
}

.v7 {
  width: 325px;
  height: 318px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2912px;
  left: 594px;
  overflow: visible;
}

.v8 {
  width: 325px;
  height: 318px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2912px;
  left: 1004px;
  overflow: visible;
}

.v9 {
  width: 325px;
  height: 318px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3310px;
  left: 184px;
  overflow: visible;
}

.v10 {
  width: 325px;
  height: 318px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3310px;
  left: 594px;
  overflow: visible;
  }
  
  .v11 {
    width: 325px;
    height: 318px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3310px;
    left: 1004px;
    overflow: visible;
  }
  
  .v12 {
    width: 325px;
    height: 318px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3707px;
    left: 184px;
    overflow: visible;
  }
  
  .v13 {
    width: 325px;
    height: 318px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 4103px;
    left: 594px;
    overflow: visible;
  }
  
  .v14 {
    width: 325px;
    height: 318px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 4103px;
    left: 1004px;
    overflow: visible;
  }
  
  .v15 {
    width: 325px;
    height: 318px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 4103px;
    left: 184px;
    overflow: visible;
  }
  
  .v16 {
    width: 325px;
    height: 318px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 4499px;
    left: 184px;
    overflow: visible;
  }

  .v17 {
    width: 325px;
    height: 318px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 4895px;
    left: 184px;
    overflow: visible;
    }
    
    .v18 {
      width: 325px;
      height: 318px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 4895px;
      left: 594px;
      overflow: visible;
    }
    
    .v19 {
      width: 325px;
        height: 318px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 4895px;
        left: 1004px;
        overflow: visible;
    }

    .v20 {
      width: 325px;
        height: 318px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 5291px;
        left: 184px;
        overflow: visible;
      }

      .v21 {
        width: 325px;
        height: 318px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 5291px;
        left: 594px;
        overflow: visible;
      }
      
      .v22 {
        width: 325px;
        height: 318px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 5291px;
        left: 1004px;
        overflow: visible;
      }
      
      .v23 {
        width: 325px;
        height: 318px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 5687px;
        left: 184px;
        overflow: visible;
      }
      
      .v24 {
        width: 325px;
        height: 318px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 5687px;
        left: 594px;
        overflow: visible;
      }
      
      .v25 {
        width: 325px;
        height: 318px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 5687px;
        left: 1004px;
        overflow: visible;
      }
      
      .v26 {
        width: 325px;
        height: 318px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 6083px;
        left: 184px;
        overflow: visible;
      }
      
      .v27 {
        width: 325px;
          height: 318px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          opacity: 1;
          position: absolute;
          top: 6479px;
          left: 184px;
          overflow: visible;
      }
      
      .v28 {
        width: 325px;
          height: 318px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          opacity: 1;
          position: absolute;
          top: 6479px;
          left: 594px;
          overflow: visible;
      }
      
      .v29 {
        width: 325px;
          height: 318px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          opacity: 1;
          position: absolute;
          top: 6479px;
          left: 1004px;
          overflow: visible;
      }

      .v30 {
        width: 325px;
          height: 318px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          opacity: 1;
          position: absolute;
          top: 6875px;
          left: 184px;
          overflow: visible;
        }
        
        .v31 {
        width: 325px;
        height: 318px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 7271px;
        left: 184px;
        overflow: visible;
        }
        
        .v32 {
        width: 325px;
        height: 318px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 7271px;
        left: 594px;
        overflow: visible;
        }
        
        .v33 {
        width: 325px;
        height: 318px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 7271px;
        left: 1004px;
        overflow: visible;
        }
        
        .v34 {
        width: 325px;
        height: 318px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 7667px;
        left: 184px;
        overflow: visible;
        }
        
        .v35 {
        width: 325px;
        height: 318px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 8063px;
        left: 184px;
        overflow: visible;
        }

        .v36 {
          width: 325px;
          height: 318px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          opacity: 1;
          position: absolute;
          top: 8063px;
          left: 594px;
          overflow: visible;
          }
          
          .v37 {
          width: 325px;
          height: 318px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          opacity: 1;
          position: absolute;
          top: 8063px;
          left: 1004px;
          overflow: visible;
          }
          
          .v38 {
          width: 325px;
          height: 318px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          opacity: 1;
          position: absolute;
          top: 6479px;
          left: 1004px;
          overflow: visible;
          }
          
          .v39 {
          width: 325px;
          height: 318px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          opacity: 1;
          position: absolute;
          top: 6875px;
          left: 184px;
          overflow: visible;
          }
          
          .v40 {
          width: 325px;
          height: 318px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          opacity: 1;
          position: absolute;
          top: 6875px;
          left: 594px;
          overflow: visible;
          }
          
          .v41 {
          width: 325px;
          height: 318px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          opacity: 1;
          position: absolute;
          top: 6875px;
          left: 1004px;
          overflow: visible;
          }
          
          .v42 {
          width: 325px;
          height: 318px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          opacity: 1;
          position: absolute;
          top: 7271px;
          left: 184px;
          overflow: visible;
          }
          
          .v43 {
          width: 325px;
          height: 318px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          opacity: 1;
          position: absolute;
          top: 7271px;
          left: 594px;
          overflow: visible;
          }
          
          .v44 {
          width: 325px;
          height: 318px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          opacity: 1;
          position: absolute;
          top: 7271px;
          left: 1004px;
          overflow: visible;
          }
          
          .v45 {
          width: 325px;
          height: 318px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          opacity: 1;
          position: absolute;
          top: 7667px;
          left: 184px;
          overflow: visible;
          }

          .v46 {
            width: 325px;
            height: 318px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            opacity: 1;
            position: absolute;
            top: 7667px;
            left: 594px;
            overflow: visible;
          }

          .v47 {
            width: 325px;
            height: 318px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            opacity: 1;
            position: absolute;
            top: 7667px;
            left: 1004px;
            overflow: visible;
          }
          

      

/* Show card styles */
.item[style="display:"] {
  display: flex;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

/* Add media query for responsive layout */
@media screen and (max-width: 768px) {
  .item {
    width: calc(33.33% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .item {
    width: calc(50% - 20px);
  }
}

.art {
  width: 400px;
  color: rgba(0,0,0,1);
  position: absolute;
  font-family: Rubik;
  font-weight: SemiBold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
  top: 500px;
  left: 184px;
  overflow: visible;
}

.running {
  width: 400px;
  color: rgba(0,0,0,1);
  position: absolute;
  font-family: Rubik;
  font-weight: SemiBold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
  top: 1293px;
  left: 184px;
  overflow: visible;
}

.lifting {
  width: 400px;
  color: rgba(0,0,0,1);
  position: absolute;
  font-family: Rubik;
  font-weight: SemiBold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
  top: 2083px;
  left: 184px;
  overflow: visible;
}

.reading {
  width: 400px;
  color: rgba(0,0,0,1);
  position: absolute;
  font-family: Rubik;
  font-weight: SemiBold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
  top: 2480px;
  left: 184px;
  overflow: visible;
}

.music {
  width: 40px;
  color: rgba(0,0,0,1);
  position: absolute;
  font-family: Rubik;
  font-weight: SemiBold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
  top: 2879px;
  left: 184px;
  overflow: visible;
}

.makeup {
  width: 400px;
  color: rgba(0,0,0,1);
  position: absolute;
  font-family: Rubik;
  font-weight: SemiBold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
  top: 3275px;
  left: 184px;
  overflow: visible;
}

.fashion {
  width: 400px;
  color: rgba(0,0,0,1);
  position: absolute;
  font-family: Rubik;
  font-weight: SemiBold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
  top: 4068px;
  left: 184px;
  overflow: visible;
}

.skiing {
  width: 400px;
  color: rgba(0,0,0,1);
  position: absolute;
  font-family: Rubik;
  font-weight: SemiBold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
  top: 4860px;
  left: 184px;
  overflow: visible;
}

.food {
  width: 400px;
  color: rgba(0,0,0,1);
  position: absolute;
  font-family: Rubik;
  font-weight: SemiBold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
  top: 5256px;
  left: 184px;
  overflow: visible;
}

.hiking {
  width: 400px;
  color: rgba(0,0,0,1);
  position: absolute;
  font-family: Rubik;
  font-weight: SemiBold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
  top: 6444px;
  left: 184px;
  overflow: visible;
}

.pa {
  width: 400px;
  color: rgba(0,0,0,1);
  position: absolute;
  font-family: Rubik;
  font-weight: SemiBold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
  top: 7236px;
  left: 184px;
  overflow: visible;
}

.sports {
  width: 400px;
  color: rgba(0,0,0,1);
  position: absolute;
  font-family: Rubik;
  font-weight: SemiBold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
  top: 8028px;
  left: 184px;
  overflow: visible;
}

.buttons{
  width: 1500px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 400px;
  left: 50px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  
}

.artButton {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-right: 20px;
}

.artButton:hover {
  background-color: #45a049;
}

.artButton:focus {
  outline: none;
}

.runningButton {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-right: 20px;
}

.runningButton:hover {
  background-color: #45a049;
}

.runningButton:focus {
  outline: none;
}

.liftingButton {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-right: 20px;
}

.liftingButton:hover {
  background-color: #45a049;
}

.liftingButton:focus {
  outline: none;
}

.readingButton {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-right: 20px;
}

.readingButton:hover {
  background-color: #45a049;
}

.readingButton:focus {
  outline: none;
}

.musicButton {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-right: 20px;
}

.musicButton:hover {
  background-color: #45a049;
}

.musicButton:focus {
  outline: none;
}

.makeupButton {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-right: 20px;
}

.makeupButton:hover {
  background-color: #45a049;
}

.makeupButton:focus {
  outline: none;
}

.fashionButton {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-right: 20px;
}

.fashionButton:hover {
  background-color: #45a049;
}

.fashionButton:focus {
  outline: none;
}

.skiingButton {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-right: 20px;
}

.skiingButton:hover {
  background-color: #45a049;
}

.skiingButton:focus {
  outline: none;
}

.foodButton {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-right: 20px;
}

.foodButton:hover {
  background-color: #45a049;
}

.foodButton:focus {
  outline: none;
}

.hikingButton {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-right: 20px;
}

.hikingButton:hover {
  background-color: #45a049;
}

.hikingButton:focus {
  outline: none;
}

.paButton {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-right: 20px;
}

.paButton:hover {
  background-color: #45a049;
}

.paButton:focus {
  outline: none;
}

.sportsButton {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-right: 20px;
}

.sportsButton:hover {
  background-color: #45a049;
}

.sportsButton:focus {
  outline: none;
}


   